<h1>¡Bienvenido a JEKMY!</h1>
<!-- Ejemplo de lo que podriamos poner en una presentacion-->
 <div class = "box">
 <img src="./assets/repair.png" class="img-repair">
<h2>Sobre JEKMY:</h2>
  <p>JEKMY es una empresa dedicada a todo tipo  de servicios relacionados a la gestión, arreglo y mantención
de tecnologías como aparatos variados hasta distintos softwares.

Nuestra empresa posee un sistema de atención completamente online, en donde los clientes
pueden agendar sus horas según disponibilidad y el día de preferencia.
</p>
</div>

<div class = "contacto">
    <span>
      <a href="https://twitter.com/" target="_blank">
      <img src="./assets/icontwt.png" class="img-twitter" alt="">
      </a>
    </span>

    <span>
      <a href="https://gmail.com/" target="_blank">
      <img src="./assets/icongmail.png" class="img-gmail" alt="">
      </a>
     </span>

    <span>
      <a href="https:https://www.facebook.com/" target="_blank">
      <img src="./assets/iconfb.png" class="img-facebook" alt="">
      </a>
     </span>


</div>

